footer {
  text-align: center;
  padding: 10px;
}

.contact-details {
  background: rgba(199, 17, 17, 0.08);
  color: black;
  padding: 10px;
  align-items: center;
}

.copyright {
  background: red;
  color: white;
  padding: 10px;
  align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  background-color: #f00;
}